@import '../../../styles.scss';

.search-bar-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $search-bar-row-height;
}

.search-page-container {
  height: 100%;
}

.content-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $content-row-height;
  justify-content: start;
}

.search-bar-input-group {
  border-radius: 4px;
  border-color: $violet;

  &.ant-input-affix-wrapper-focused, &:hover {
    border-color: $violet !important;
    box-shadow: 0 0 0 2px rgb(161 34 128 / 20%);
  }
}

.search-bar-container {
  width: $search-bar-width;
}

.search-bar {
  width: $search-bar-width;
  height: $search-bar-height;

  &::placeholder {
    color: $violet;
  }
}

.search-icon {
  fill: $violet;
}

.suggestion-result {
  width: $search-bar-width;
  z-index: 5;
  position: absolute;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $violet;
  border-top: none;

  & > .suggestion {
    padding-left: 10px;

    &:hover {
      font-weight: 500;
      cursor: pointer;
    }

    & > p {
      margin-bottom: 5px;
    }
  }
}