<div (click)="disableSuggestions()" class="search-page-container">

  <form novalidate [formGroup]="searchForm">
    <div class="search-bar-row">
      <div class="column">
        <div class="search-form">
          <nz-input-group [nzSuffix]="searchBarSuffix" class="search-bar-input-group">
            <input type="text" nz-input placeholder="Rechercher" formControlName="query" class="search-bar"/>
          </nz-input-group>
          <ng-template #searchBarSuffix>
            <svg class="material-icons search-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
          </ng-template>
          <div class="suggestion-result" *ngIf="suggestions.length > 0 && suggestionEnabled">
            <div *ngFor="let suggestion of suggestions" class="suggestion">
              <p (click)="setQuery(suggestion.value)">{{ suggestion.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <ft-search-filters (extendedFilters)="updateFormWithFilters($event)"></ft-search-filters>
    </div>
  </form>

  <div class="content-row">
    <ft-search-results (newPageSize)="changePageSizeInForm($event)" (newPageIndex)="changePageIndexInForm($event)"></ft-search-results>
  </div>
</div>