@import '../../../../styles.scss';

.search-result-card {
  height: calc(($fs-height - $search-bar-row-height - $header-height) - 10px);
  width: $fs-width;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ant-list-item-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $violet;
}

.search-result-list {
  max-width: 100%;
}

.results-container {
  height: calc(($fs-height - $search-bar-row-height - $header-height) - (2 * $card-title-height) - 10px);
}

.result-list {
  padding-right: 10px;
}

.metadata-select {
  min-width: 200px;
}

.list-item-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: left;

  svg {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.metadata-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 10px;

  & > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.metadata-container {
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  margin-top: 5px;
}

.map-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}