<div class="column left">
  <div class="card search-result-card">
    <div class="card-title">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M7,9H2V7h5V9z M7,12H2v2h5V12z M20.59,19l-3.83-3.83C15.96,15.69,15.02,16,14,16c-2.76,0-5-2.24-5-5s2.24-5,5-5s5,2.24,5,5 c0,1.02-0.31,1.96-0.83,2.75L22,17.59L20.59,19z M17,11c0-1.65-1.35-3-3-3s-3,1.35-3,3s1.35,3,3,3S17,12.65,17,11z M2,19h10v-2H2 V19z"/></g></svg>
      <h4>Résultats</h4>
    </div>
    <cdk-virtual-scroll-viewport itemSize="10" class="results-container">

      <nz-list class="result-list">

        <div *ngFor="let result of rearrangedSearchResult?.results">
          <nz-list-item>
            <ng-container>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <div class="list-item-title">
                    <svg *ngIf="result.type === 'MAP'" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#a12280"><g><rect fill="none" height="24" width="24"/></g><g><g/><g><path d="M21,5c-1.11-0.35-2.33-0.5-3.5-0.5c-1.95,0-4.05,0.4-5.5,1.5c-1.45-1.1-3.55-1.5-5.5-1.5S2.45,4.9,1,6v14.65 c0,0.25,0.25,0.5,0.5,0.5c0.1,0,0.15-0.05,0.25-0.05C3.1,20.45,5.05,20,6.5,20c1.95,0,4.05,0.4,5.5,1.5c1.35-0.85,3.8-1.5,5.5-1.5 c1.65,0,3.35,0.3,4.75,1.05c0.1,0.05,0.15,0.05,0.25,0.05c0.25,0,0.5-0.25,0.5-0.5V6C22.4,5.55,21.75,5.25,21,5z M21,18.5 c-1.1-0.35-2.3-0.5-3.5-0.5c-1.7,0-4.15,0.65-5.5,1.5V8c1.35-0.85,3.8-1.5,5.5-1.5c1.2,0,2.4,0.15,3.5,0.5V18.5z"/><g><path d="M17.5,10.5c0.88,0,1.73,0.09,2.5,0.26V9.24C19.21,9.09,18.36,9,17.5,9c-1.7,0-3.24,0.29-4.5,0.83v1.66 C14.13,10.85,15.7,10.5,17.5,10.5z"/><path d="M13,12.49v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26V11.9c-0.79-0.15-1.64-0.24-2.5-0.24 C15.8,11.66,14.26,11.96,13,12.49z"/>
                      <path d="M17.5,14.33c-1.7,0-3.24,0.29-4.5,0.83v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26v-1.52 C19.21,14.41,18.36,14.33,17.5,14.33z"/></g></g></g>
                    </svg>
                    <svg *ngIf="result.type === 'TOPIC'" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#a12280"><g><rect fill="none" height="24" width="24"/><g><path d="M19,5v14H5V5H19 M19,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3L19,3z"/></g>
                      <path d="M14,17H7v-2h7V17z M17,13H7v-2h10V13z M17,9H7V7h10V9z"/></g>
                    </svg>
                    <svg *ngIf="result.type === 'DOCUMENT'" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#a12280"><path d="M0 0h24v24H0z" fill="none"/>
                      <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
                    </svg>
                    <span (click)="getContent(result)" class="map-link">{{ result.title }}</span>
                  </div>
                  <div class="metadata-container">
                    <div *ngIf="result.metadataVariableAxis">
                      <nz-select nzSize="small" class="metadata-select" [nzPlaceHolder]="result.metadataVariableAxisLabel || ''" [(ngModel)]="result.selectedIndex">
                        <div *ngFor="let entry of result.entries; let i = index">
                          <div *ngFor="let meta of entry.metadata">
                            <nz-option *ngIf="meta.key === result.metadataVariableAxis && meta.values.length > 0"
                              [nzLabel]="meta.values[0]" [nzValue]="i">
                            </nz-option>
                          </div>
                        </div>
                      </nz-select>
                    </div>
                    <div class="metadata-list" *ngIf="result.entries && result.entries.length > 0">
                      <div *ngFor="let meta of result.entries[0].metadata">
                        <div *ngIf="meta.key === 'Version_FT' && meta.key !== result.metadataVariableAxis && meta.values.length > 0">
                          <nz-tag [nzColor]="'#a12280'">{{ meta.values[0] }}</nz-tag>
                        </div>
                        <div *ngIf="meta.key === 'Category' && meta.key !== result.metadataVariableAxis && meta.values.length > 0">
                          <nz-tag [nzColor]="'#a12280'">{{ meta.values[0] }}</nz-tag>
                        </div>
                        <div *ngIf="meta.key === 'Platform' && meta.key !== result.metadataVariableAxis && meta.values.length > 0">
                          <nz-tag [nzColor]="'#a12280'">{{ meta.values[0] }}</nz-tag>
                        </div>
                        <div *ngIf="meta.key === 'audience' && meta.key !== result.metadataVariableAxis && meta.values.length > 0">
                          <nz-tag [nzColor]="'#a12280'">{{ meta.values[0] }}</nz-tag>
                        </div>
                      </div>
                    </div>
                  </div>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        </div>
      </nz-list>
    </cdk-virtual-scroll-viewport>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50" [nzPageSize]="10" nzSize="small" nzShowSizeChanger
      (nzPageSizeChange)="changePageSize($event)"
      (nzPageIndexChange)="changePageIndex($event)">
    </nz-pagination>
  </div>
</div>