<div class="card quick-access">
  <div class="row left-aligned">
    <div class="card-title">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></svg>
      <h4>Documents - Accès rapide</h4>
    </div>
    <div *ngFor="let document of documents" class="list-element">
      <span (click)="openDocument(document)" class="document-link">{{ document.title }}</span>
    </div>
  </div>
</div>