@import '../../../../styles.scss';

.quick-access {
  height: calc($row-height - 10px);
  width: $card-width;
  margin-bottom: 10px;
}

.list-element {
  margin-bottom: 5px;
  font-size: small;
  line-height: 17px;
}

.document-link {
  &:hover {
    cursor: pointer;
    color: cornflowerblue;
    text-decoration: underline;
  }
}