@import '../../styles.scss';

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background-color: $black;
}

.navigation-menu {
  color: $white;
}

.navigation-element {
  cursor: pointer;
  padding: 5px;
  list-style-type: none;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  span {
    padding-left: 10px;
  }
}

i {
  fill: $white;
}