<div class="welcome-row">
  <div class="welcome-row-title">
    <span>Welcome to Fluid Topics</span>
  </div>
</div>
<div class="row">
  <button nz-button nzShape="round" (click)="redirectToSearch()" class="doc-link">
    Rechercher de la documentation
    <i nz-icon nzType="right"></i>
  </button>
</div>
<div class="quick-acces-row">
  <ft-documents-quick-access></ft-documents-quick-access>
</div>