@import '../../../styles.scss';

.welcome-row {
  margin-top: $header-row-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header-row-height;

  .welcome-row-title {
    color: $violet;
    font-size: 32px;
    line-height: 32px;
  }
}

.doc-link {
  margin-top: calc($header-row-height / 10);
  background-color: $violet;
  color: $white;

  &:hover {
    opacity: 0.8;
    background-color: $violet;
    color: $white;
    box-shadow: 0 0 0 2px rgb(161 34 128 / 20%);
    border-color: $violet;
  }
}

.quick-acces-row {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}