@import '../../../styles.scss';

$table-of-content-title-height: 50px;
$map-title-height: 50px;

.table-of-content {
  width: $table-of-content-width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $violet;
}

.table-of-content-scroller-container {
  height: calc(100% - $table-of-content-title-height);
}

.table-of-content-scroller {
  height: 100%;
}

.map-list-scroller {
  height: 100%;
}

.map-list-container {
  height: 100%;
}

.map-viewer-container {
  height: 100%;
}

.map-list {
  height: 100%;
}

.ant-list-item {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.ant-list-item-meta-title {
  margin-bottom: 0px;
}

.link {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.table-of-content-title {
  height: $table-of-content-title-height;
  width: 100%;
  padding: 16px 24px;

  & > span {
    color: $violet;
    font-size: 16px;
    font-weight: 500;
  }
}

.ant-list-header {
  color: $violet;
  font-size: 16px;
  font-weight: 500;
}

.map-content {
  height: calc(100% - $map-title-height);
  display: flex;
}

.map-title-container {
  height: $map-title-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $violet;
}

.map-title {
  color: $violet;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}

.map-viewer {
  padding-left: 10px;
  height: 100%;
  width: calc(100% - $table-of-content-width);
}

.map-viewer-scroller {
  height: 100%;
  width: 100%;
}

cdk-virtual-scroll-viewport::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.topics-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - $table-of-content-width);

  & > img {
    height: 50px;
    width: 50px;
  }
}

.toc-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  & > img {
    height: 50px;
    width: 50px;
  }
}