<div *ngIf="!isAMapSelected" class="map-list-container">
  <cdk-virtual-scroll-viewport itemSize="10" class="map-list-scroller">
    <ul *ngIf="maps && maps.length > 0" nz-list [nzDataSource]="maps" nzBordered nzSize="large">
      <nz-list-header>Maps</nz-list-header>
      <li nz-list-item *ngFor="let map of maps" nzNoFlex>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <div class="link" (click)="openMap(map.id)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#a12280">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/>
              </svg>
            </div>
          </nz-list-item-action>
        </ul>
        {{ map.title }}
      </li>
      <nz-list-footer>Footer</nz-list-footer>
    </ul>
  </cdk-virtual-scroll-viewport>
</div>
<div *ngIf="isAMapSelected && selectedMap !== undefined" class="map-viewer-container">
  <div class="map-title-container">
    <div class="link" (click)="goBackToMapList()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#a12280">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
      </svg>
    </div>
    <span class="map-title">{{ selectedMap?.title }}</span>
  </div>
  <div class="map-content">
    <div class="table-of-content">
      <div class="table-of-content-title">
        <span>Topics</span>
      </div>
      <div *ngIf="tocLoaded" class="table-of-content-scroller-container">
        <cdk-virtual-scroll-viewport itemSize="10" class="table-of-content-scroller">
          <nz-tree [nzData]="data" (nzClick)="scrollToTopic($event)"></nz-tree>
        </cdk-virtual-scroll-viewport>
      </div>
      <div *ngIf="!tocLoaded" class="toc-loader-container">
        <img src="/assets/images/loading-buffering.gif" />
      </div>
    </div>
    <div *ngIf="mapTopicsContent && mapTopicsContent.length > 0 && topicsLoaded" class="map-viewer">
      <cdk-virtual-scroll-viewport #topicScroller itemSize="10" class="map-viewer-scroller">
        <div *ngFor="let topic of mapTopicsContent">
          <div [id]="topic.id" [innerHTML]="topic.title">
          </div>
          <div [innerHTML]="topic.content"></div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div *ngIf="!topicsLoaded" class="topics-loader-container">
      <img src="/assets/images/loading-buffering.gif" />
    </div>
  </div>
</div>