@import '../styles.scss';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.portal {
  width: $fs-width;
  height: $fs-height;
  background-color: $white;
}

.content-container {

  height: $content-height;
  width: $fs-width;
  display: flex;
  flex-direction: row;
  
  .content {
    width: $fs-width - $sidebar-width;
    height: $content-height;
    background-color: $white;
  }
}