<div class="portal">
  <ft-header></ft-header>
  <div class="content-container">
    <ft-sidebar></ft-sidebar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
