<div>
  <div class="filters-row">
    <nz-select [nzMaxTagCount]="1" [nzMaxTagPlaceholder]="tagPlaceHolder" nzSize="small" nzMode="multiple" nzPlaceHolder="Version" [(ngModel)]="selectedVersionFilters.values"
      (ngModelChange)="updateSelectedFilters(versionFilters.key, $event)">
      <nz-option *ngFor="let version of versionFilters.values" [nzLabel]="version" [nzValue]="version"></nz-option>
    </nz-select>

    <nz-select [nzMaxTagCount]="1" [nzMaxTagPlaceholder]="tagPlaceHolder" nzSize="small" nzMode="multiple" nzPlaceHolder="Catégorie" [(ngModel)]="selectedCategoryFilters"
      (ngModelChange)="updateSelectedFilters(categoryFilters.key, $event)">
      <nz-option *ngFor="let category of categoryFilters.values" [nzLabel]="category" [nzValue]="category"></nz-option>
    </nz-select>

    <nz-select [nzMaxTagCount]="1" [nzMaxTagPlaceholder]="tagPlaceHolder" nzSize="small" nzMode="multiple" nzPlaceHolder="Plateforme" [(ngModel)]="selectedOsFilters"
      (ngModelChange)="updateSelectedFilters(osFilters.key, $event)">
      <nz-option *ngFor="let os of osFilters.values" [nzLabel]="os" [nzValue]="os"></nz-option>
    </nz-select>

    <nz-select [nzMaxTagCount]="1" [nzMaxTagPlaceholder]="tagPlaceHolder" nzSize="small" nzMode="multiple" nzPlaceHolder="Audience" [(ngModel)]="selectedAudienceFilters"
      (ngModelChange)="updateSelectedFilters(audienceFilters.key, $event)">
      <nz-option *ngFor="let audience of audienceFilters.values" [nzLabel]="audience" [nzValue]="audience"></nz-option>
    </nz-select>

    <nz-select [(ngModel)]="currentLocale.lang" class="locale-selector" nzSize="small" (ngModelChange)="emitExtendedFilters()" *ngIf="locales && locales.length > 0 && currentLocale">
      <nz-option *ngFor="let locale of locales" [nzValue]="locale.lang" [nzLabel]="locale.label"></nz-option>
    </nz-select>

    <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more</ng-template>
  </div>
</div>