@import '../../../../styles.scss';

.filters-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  nz-select {
    width: 200px;
  }

  nz-select + nz-select {
    margin-left: 15px;
  }
}