@import '../../styles.scss';

.header {
  width: $fs-width;
  height: $header-height;
  background-color: $violet;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-button-container {
  height: $header-height;
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.logo {
  height: $header-height;
}