@import "~ng-zorro-antd/ng-zorro-antd.min.css";

$violet: #a12280;
$white: #ffffff;
$black: #282832;

$fs-width: 100vw;
$fs-height: 100vh;

$ratio-1: 0.618;
$ratio-2: 0.382;
$ratio-3: 0.236;
$ratio-4: 0.146;
$ratio-5: 0.09;
$ratio-6: 0.05;

$header-height: $fs-height * $ratio-5;
$sidebar-width: $fs-width * $ratio-5;
$content-height: $fs-height - $header-height;
$row-height: $fs-height * $ratio-3;
$card-width: $fs-width * $ratio-3;
$search-bar-width: $fs-width * $ratio-1;
$search-bar-height: $fs-height * $ratio-6;
$content-row-height: $fs-height * $ratio-1;
$header-row-height: $fs-height * $ratio-4;
$search-bar-row-height: $fs-height * $ratio-3;
$card-title-height: $fs-height * $ratio-6;
$table-of-content-width: $fs-width * $ratio-3;

body {
  margin: 0;
}

a {
  color: cornflowerblue;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

nz-select.ant-select-multiple::ng-deep {

  .ant-select-selection-item {
    background-color: $violet;
    color: $white;
  }

  .ant-select-selection-item-remove {
    color: $white;
  }
}

nz-select::ng-deep {
  // border: 1px solid $violet;
  .ant-select-arrow {
    color: $violet;
  }
}

.ant-select {

  color: $violet;

  &:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid $violet !important;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: 0 0 0 2px rgb(161 34 128 / 20%);
}

.ant-select-selection-placeholder {
  color: $violet;
}

nz-pagination::ng-deep {
  
  .ant-pagination-item:hover {
    a {
      color: $violet;
    }
  }

  .ant-pagination-item-active {
    border-color: $violet;
    a {
      color: $violet;
    }
  }

  nz-select {
    .ant-select-arrow {
      color: $violet;
    }
  }
}

.card {
  border-radius: 4px;
  border: 1px solid $violet;
  background-color: #fafafa;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 10px;

  .card-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $card-title-height;
    color: $violet;
  
    svg {
      margin-right: 5px;
      fill: $violet;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(.left-aligned) {
    align-items: center;
  }
}

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &.left {
    justify-content: left;
  }
  &:not(.left) {
    justify-content: center;
  }
}

.ratio-1 {
  width: $fs-width * $ratio-1;
  height: $fs-height * $ratio-1;
  background-color: $white;
}

.ratio-2 {
  width: $fs-width * $ratio-2;
  height: $fs-height * $ratio-2;
  background-color: $violet;
}

.ratio-3 {
  width: $fs-width * $ratio-3;
  height: $fs-height * $ratio-3;
  background-color: $black;
}

.ratio-4 {
  width: $fs-width * $ratio-4;
  height: $fs-height * $ratio-4;
  background-color: $white;
}

.ratio-5 {
  width: $fs-width * $ratio-5;
  height: $fs-height * $ratio-5;
  background-color: $violet;
}

.ratio-6 {
  width: $fs-width * $ratio-6;
  height: $fs-height * $ratio-6;
  background-color: $black;
}

.ant-tree-title {
  font-size: 12px;
}